@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap');
* {
    box-sizing: border-box;
}
#background{
    height: 725px;
    background-color: bisque;
}
body{
    background-color: rgb(246, 244, 248);
    font-family:'Roboto',Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(231, 11, 84);
    
}
nav a:hover{
    background-color:darkblue;
    color: white;
}
nav a{
    color: rebeccapurple;
    text-align: left;
    text-decoration: none;
    padding: 35px;
}
.home-title {
    background-color: blue;
    color: white;
    font-family: 'Rock Salt', 'Arial', sans-serif;
    font-size: 2em;
    padding-top: 15px;

}
.msg h2{
    font-family: 'Rock Salt' Arial, sans-serif;
}
#container { 
    max-width: 1600px;
 }
h4{

    color: rgb(30, 29, 29);
    text-align: center;
}
.book{
    text-align: center;
}
h1{
    text-align: center;
}
.book, .join{
    background-color: palevioletred;
    margin-top: 50px;
    color:wheat;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius:5px;
}
.book:hover{
    background-color: rgb(255, 0, 55);
    color: whitesmoke;
    text-align: center;
}


.join:hover{
    background-color: red;
    color: white;
}
.msg {
    background-color: rgb(44, 7, 103);
    color: white;
    width: 100%;
    line-height: 1.5em;
    padding: 35px;
    margin: 0 auto;
}
.msg p{
    padding-bottom: 15px;
}

main section img {
    box-sizing: border-box;
}
footer a{
    background-color: purple;
    color: white;
    text-align: center;
    text-decoration: none;
}
footer .social img{
    padding-top: 15px;
}
footer a:hover{
    background-color: seagreen;
    color: white;
}
footer{
    background-color: blue;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
}
.logo{
    width: 80px;
    text-align: left;
}

#logo_link {
    padding-top: 5px;
}  
#hero-img{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
main section {
 /*   width: 50%;
   margin: 0 auto;
    margin: 200px 0; */
    text-align: center;
  
    
}

.card-img{
    width: 50%;
    text-align: center;
    border: 10px solid blue;
    margin: 0 auto;


}
.icon{
    width: 80px;
    padding-top: 10px;
}

.mountains{
    width: 50%;
}

footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
    background-color: rgb(202, 18, 18);
    color: white;
}
footer div{
    text-align: left;
}